<footer id="footer">

    <a href="https://twitter.com/pharmeasyapp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter"></i></a> <a href="https://www.facebook.com/pharmeasy/"><i class="fa-brands fa-facebook"></i></a> <a href="https://www.instagram.com/pharmeasyapp/?hl=en"><i class="fa-brands fa-instagram"></i></a> <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa-regular fa-envelope"></i></a>
    <p>© Copyright Pharmeasy</p>
  
  </footer>
  
  </body>
  
  
  
  </html>