#about{
    text-align: center;
    padding: 2% 4%;
    background-color: aquamarine;
}
.info{
    text-align: left;
}
.info-h2{
    text-align: left;
    text-decoration: underline;
}
.styling{
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1rem;
    font-size: 1.1rem;
}